################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Epsi.ReseauxNeurone/v16/Server/sqlite3/storage.ide-wal
/.vs/Epsi.ReseauxNeurone/v16/Server/sqlite3/storage.ide-shm
/.vs/Epsi.ReseauxNeurone/v16/Server/sqlite3/storage.ide
/.vs/Epsi.ReseauxNeurone/v16/Server/sqlite3/db.lock
/.vs/Epsi.ReseauxNeurone/v16/.suo
